.cv-layout h1 {
  @apply mt-[60px] mb-[80px];
}
/* 
.cv-layout {
  display: flex;
  width: 100%;
  height: 100vh;
}

.cv-layout aside {
  flex-shrink: 0;
}

.cv-layout main {
  flex-grow: 1;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cv-layout main > div {
  flex-grow: 1;
  overflow: hidden;
} */

/* PDF viewer styles */
.cv-layout iframe {
  border: none;
  background: white;
}
