@import url("https://use.typekit.net/vmf7uij.css");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-clr-light: #47d799;
  --main-clr: #33d38e;
  --main-clr-pale: #2dbd7f;
  --second-clr-light: #582f93;
  --second-clr: #461887;
  --second-clr-pale: #3f1579;
  --blue-clr: #006fff;
  --pink-clr: #f3e9ff;
  --pink-clr-light: #f1edf6;
  --neutral-9: #0a0a0a;
  --neutral-6: #404040;
  --neutral-7: #262626;
  --purple-main: #7b61ff;
  --purple-main-plate: #6f55f3;

  --text-clr-stroke: #979797;
  --text-clr: #9d94a8;
  --text-clr-mutated: #707070;
  --shadow-clr: #00000029;
  --shadow-clr-plate: #c7c7c7;
  --font-cairo: "Cairo", sans-serif;
}

@layer base {
  body {
    direction: rtl;
    color: var(--text-clr);
    font-family: var(--font-cairo);
    text-align: right;
  }
  input {
    direction: rtl;
  }
  textarea {
    @apply placeholder:text-xl;
  }
  time {
    font-size: 14px;
    opacity: 0.8;
  }
}

@layer components {
  .heading {
    @apply font-semibold text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
  }
  .heading-big {
    @apply font-semibold text-5xl md:text-6xl lg:text-7xl xl:text-[80px] text-second text-center mb-12;
  }
  .heading-sub {
    @apply font-semibold text-2xl md:text-3xl lg:text-4xl xl:text-[40px] text-second leading-tight;
  }
  .heading-h3 {
    @apply font-semibold text-xl md:text-2xl leading-tight;
  }
  .heading-h4 {
    @apply font-semibold md:text-lg;
  }
  .text-big {
    @apply text-xl lg:text-2xl xl:text-3xl;
  }

  /* buttons */
  .btn-secondary {
    @apply p-3 rounded-sm max-md:w-full text-lg md:text-xl text-white bg-second text-center
    hover:bg-second-pale transition-colors mr-auto disabled:opacity-50 disabled:cursor-not-allowed;
  }
  .btn-secondary-outline {
    @apply p-3 rounded-sm max-md:w-full text-lg md:text-xl text-second border-2 border-second text-center
    hover:bg-second hover:text-white transition-colors disabled:opacity-50 disabled:cursor-not-allowed;
  }
  .btn-glass {
    @apply inline-flex items-center justify-center gap-2 px-6 py-3  text-center
    rounded-sm bg-pink-light hover:opacity-90 transition-colors text-lg md:text-xl;
  }
  .btn-primary {
    @apply bg-main text-white hover:bg-main-pale text-center inline-block
      text-base sm:text-lg px-6 sm:px-8 py-3 sm:py-4 rounded-md hover:bg-opacity-90 transition-all duration-300;
  }
}

@layer utilities {
  .btn-secondary-makeMain {
    @apply bg-main hover:bg-main-pale;
  }
  .btn-secondary-makePurple {
    @apply bg-purple-main hover:bg-purple-main-plate;
  }
}
